@import "./constants.scss";

#header {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    fill: $primary;
    height: 62px;
    width: 191px;
  }
  .links {
    display: flex;
    gap: 50px;
    a {
      color: $primary;
      font-size: 24px;
      &:last-child {
        text-decoration: none;
      }
    }
  }
  @media (max-width: $mobile) {
    padding: 25px 0;
    svg {
      height: 43px;
      width: 133px;
    }
    .links {
      gap: 10px;
      a {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}
