:root {
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  #root {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1400px;
  }
}
